<!DOCTYPE html>
<html>
<head>
  <title>Drive Uploader</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h2>Upload a File to Google Drive</h2>
  <form action="{{ url_for('dashboard') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
  </form>
  <p>{{id}}</p>
  <p>Drive Space Used: {{ space.used }}</p>
<p>Total Drive Space: {{ space.total }}</p>
<p>Free Space: {{ space.free }}</p>

  <h3>Uploaded Files:</h3>
  <ul>
    {% for file in files %}
      <li>{{ file.name }} - <a href="/download/{{ file.id }}">Download</a><a href="/delete/{{ file.id }}">  delete</a></li>
   
    </form>
    {% endfor %}
  </ul>

  <br>
  <a href="{{ url_for('home') }}">Logout</a>
</body>
</html>
