<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen and (min-width: 480px)" href="{{ url_for('static', filename='login.css') }}">
  <link rel="stylesheet" media="screen and (max-width: 480px)" href="{{ url_for('static', filename='loginph.css') }}">
</head>
<style>
  

</style>
<body>
  <div id="content">
    <div id="greet">
    <span>Welcome</span>
    <span>Back</span>
    <p>MongoDB Atlas integrates operational and vector databases in a single, unified platform. Use vector representations of your data to perform semantic search</p>
  </div>
  <div id="logincard">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
    <label for="id">Username</label>
    <input type="text" name="id"  required><br>
    <label for="id">Password</label>
    <input type="password" name="pass"  required><br>
    <button type="submit">Login Now</button>
  </form>
  <a href="{{ url_for('registor') }}">Don't have an account? Sign up now</a>
  </div></div>
  
  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}
</body>
</html>
